.session-content
  .title-header
    h3 Forgot password?

  #message.message
    | Don't worry! It happens with most of us.
    | Enter email-id below and follow instructions received in your email

  .session-body
    .form-elements.forgot-password
      include ./form
